<html>
    <head>
        <meta charset="UTF-8">
        <link href="" rel="shortcut icon" type="image/x-icon">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='./style.css')}}"> -->
        <link rel="stylesheet" href="../static/style.css">
        <style>
            
            
        </style>
    </head>
    <body>
        <!-- 상단 네비 -->
        <nav id="nav_container">
            <div id="nav_small_container">
                <!-- 로고 -->
                <div class="nav_box box_1">
                    <a href="./"><img src="../static/img/insta_logo.png"></a>
                </div>
                <!-- 검색창 -->
                <div class="nav_box box_2"> 
                    <input type="text" placeholder="검색" id="search_box">
                    <div class="search_cancle" onclick="text_cancle()"><img src="../static/img/cancle_button.png"></div>
                </div>
                <!-- 아이콘들 -->
                <div class="nav_box box_3">
                    <div class="nav_box3_small">
                        <div><a href = './'><img src="../static/img/home_icon.png"></a></div>
                        <div><a onclick = heart_click()><img src="../static/img/paper_plane.png"></a></div>
                        <div><a onclick = heart_click()><img src="../static/img/plus_icon.png"></a></div>
                        <div><a onclick = heart_click()><img src="../static/img/compass_icon.png"></a></div>
                        <div><a onclick = heart_click()><img src="../static/img/heart.png"></a></div>
                        <div><a onclick = heart_click()><img class="profile_image" src="../static/img/profile_img.jpg"></a></div>
                    </div>
                </div>
            </div>
        </nav>
        <section class="content_box">
            <!-- 메인 왼쪽 부분 -->
            <div id="content_left">
                <!-- 스토리 뷰어 -->
                <div id="story_container">
                    <div class="story_button left_button"><img src="../static/img/story_back_button.png" ></div>
                    <div class="story_viewer">
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                            </div>
                            <div class="story_box">
                                <div class="story_img_box">
                                    <img src="../static/img/story_border.png" alt="">
                                    <img src="../static/img/story_image.png" onclick="heart_click()">
                                </div>
                                <div class="story_id_box"><span>story viewerer</span></div>
                        </div>
                    </div>
                    <div class="story_button right_button"><img src="../static/img/story_next_button.png" ></div>
                </div>
            </div>

            <!-- 메인 오른쪽 부분 -->
            <div id="content_right"></div>
        </section>
    </body>

    <script>
        const search_box = document.getElementById("search_box")
        const search_cancle = document.getElementsByClassName("search_cancle")[0]
        const story_boxs = document.getElementsByClassName("story_box")
        const story_viewer = document.getElementsByClassName('story_viewer')[0]
        const story_left_button = document.getElementsByClassName('left_button')[0]
        const story_right_button = document.getElementsByClassName('right_button')[0]
        
        
        function heart_click(){
            alert("♥");
        }

        // 검색 부분
        search_cancle.onclick = function(){ // input에 text 있을 때 취소 버튼 누르면 초기화
                search_box.value = '';
            }    
        search_box.onfocus = function(){ // input에 포커스 있을 경우 모양 변화
            this.style.backgroundImage = "None"
            search_cancle.style.opacity = "100"
            search_cancle.style.display = "block"
        }
        search_box.onblur = function(){// input에 포커스 사라질 경우 모양 변화
            search_cancle.style.opacity = "0"
            search_box.style.backgroundImage = "url(../static/img/glass.png)"
            setTimeout(function(){
                search_cancle.style.display = "none"
            },100)
        }

        // 스토리 뷰어 길이 설정
        story_viewer_width = Number(window.getComputedStyle(story_viewer).width.slice(0,-2));
        if(story_viewer_width > 468){story_right_button.style.display = 'block'}

        // 스토리 좌우 이동 버튼
        let story_viewer_locate = 0;
        story_right_button.onclick = function(){
            if(story_viewer_width - Math.abs(story_viewer_locate) - 425 <= 468){
                story_viewer_locate = 468 - story_viewer_width;
                story_right_button.style.display = "None"
            }else{story_viewer_locate = story_viewer_locate - 425;}
            story_viewer.style.left = String(story_viewer_locate) + "px"
            story_left_button.style.display = "block"
           
        }
        story_left_button.onclick = function(){
            if(story_viewer_locate + 425 >= 0){
                story_viewer_locate = 0;
                story_left_button.style.display = "None"
            }else{story_viewer_locate = story_viewer_locate + 425;}
            story_viewer.style.left = String(story_viewer_locate) + "px"
            story_right_button.style.display = "block"
        }
        
    </script>
</html>